<div class="row-fluid">
	<%= form_for :username do |f| %>
	<p> <%= f.label :name %><%= text_field :username, :name, placeholder: @user %></p>
	<p><%= f.submit :class => 'btn btn-primary' %></p>
	<% end %>
</div>
