/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
 */

 .additional_info {
 	color: gray;
 	font-size: 96%;
 }

 .option {
 	font-size: 96%;
 	color: gray;
 }

 .link_item {
 	padding: 8px;
 	margin-bottom: 8px;
 }

 h3 {
 	font-size: 120%;
 }

 .comments {
 	display: none;
 	margin-left: 20px;
 	margin-top: 10px;
 }

 .commentBox {
 	display: none;
 	margin-left: 20px;
 	margin-top: 10px;
 }

 .option a {
 	color: gray;
 }

 .comment_text {
 	font-size: 96%;
 }

 .subtle {
 	color: #B8B8B8 !important;
 }

 .priority-1 {
 	background-color:  rgb(252, 248, 227);
 }

 .priority-2 {
 	background-color:  rgb(242, 222, 222);
 }
